name: Swift

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  deploy:
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@v2
    - name: Publish dep
      run: rm -rf ./Publish; git clone https://github.com/CoolONEOfficial/Publish; cd Publish; git checkout Multi-Language; swift build -c release; cd ..
    - name: Build
      run: rm -rf ./Output; ./Publish/.build/release/publish-cli generate
    - name: Deploy with Password
      uses: wlixcc/SFTP-Deploy-Action@v1.2.6
      with:
        username: ${{ secrets.FTP_USERNAME }}
        server: ${{ secrets.FTP_SERVER }}
        port: ${{ secrets.FTP_PORT }}
        local_path: './Output/*'
        remote_path: ${{ secrets.FTP_PATH }}
        sftp_only: true
        password: ${{ secrets.FTP_PASSWORD }}
